/* tracker.css */

.keypad-display-wrapper {
	background-color: #333;
	padding: 20px;
	border-radius: 10px;
	max-width: 300px;
	margin: 0 auto;
	

}

.keypad-display-wrapper * {
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}


.display {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	height:30px;
	background-color: #eee;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 20px;
}


.keypad {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.keypad-key {
	background-color: #444;
	border: none;
	border-radius: 5px;
	color: #fff;
	transition:all 0.2s;
	outline: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	user-select: none;
}

.keypad-key.backspace{
	background-color: #dd3d3d;	
}

.amount-suggestion{
	font-size: medium;
	background-color: #666;
	outline:none;
	border:none;
	border-radius: 80px;	
}
.amount-suggestion:hover{}
.amount-suggestion:active{
	background-color: #999;
}

.disabled-key {
	opacity: 0.2;
	pointer-events: none;
}

.keypad-key:nth-child(10) {
	grid-column: 1 / span 2;
}

.keypad-key:active {
	background-color: #666;
}

.enter-key {
	background-color: #3dd97d;
}